.sidebar
  .sidebar__username
    .sidebar__topitems
      %p.sidebar__topitems__name
        imo
      %ul.sidebar__topitems__icons
        %li
          =link_to "#" do
            = icon('fas', 'edit', class: "edit--icon")
        %li
          =link_to "#" do
            = icon('fas', 'cog')

  .sidebar__grouplist
    %h1.sidebar__grouplist__name
      teamA
    %p.sidebar__grouplist__message
      アフターコロナ
    %h1.sidebar__grouplist__name
      teamB
    %p.sidebar__grouplist__message
      まだメッセージがありません
    %h1.sidebar__grouplist__name
      teamC
    %p.sidebar__grouplist__message
      まだメッセージがありません